<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="UTF-8">

<style type="text/css">
body {
	background-color: #d9d9d9;
	font-size: 18px;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 20px 30px;
	background-color: white;
}

.texto-centralizado {
	text-align: center;
}

.espacamento {
	margin-bottom: 10px;
}

.roxo {
	color: #330033;
	font-weight: bold;
}

.cinza {
	color: 6A6E81;
}

.negrito {
	font-weight: bold;
}
</style>
</head>

<body>
	<div class="container">
		<h1 class="texto-centralizado roxo espacamento">Objetivo do Dia
			App</h1>

		<p class="roxo espacamento">Olá ${nome}!</p>
		<p class="espacamento cinza">Gostariamos de informá lo que a sua
			senha foi alterada com sucesso. sua nova senha é:</p>
		<p class="cinza">
			<span class="negrito">Nova Senha:</span>${senha}
		</p>
	</div>
</body>

</html>